<% content_for :title, "Editing item" %>

<div class="title-container">
<h1>Edit Item</h1>
</div>
<div>
  <%= link_to "Show this item", @item, class: "form-link" %> |
  <%= link_to "Back to items", items_path, class: "form-link" %>
</div>
<%= render "form", item: @item %>

<br>


