<% content_for :title, "Create New Item" %>

<div class="title-container">
<h1>New item</h1>
</div>
<div>
  <%= link_to "Back to items", items_path, class: "form-link" %>
</div>
<%= render "form", item: @item %>

<br>


